@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Karla';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/Contact-Form/src/assets/fonts/static/Karla-Regular.ttf) format('woff2');
    }
  
    @font-face {
      font-family: 'Karla';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url(/Contact-Form/src/assets/fonts/static/Karla-Bold.ttf) format('woff2');
    }
  }